/* Add your CSS to this file */
* {
    font-family: system-ui, sans-serif;
}
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*HEader Content*/

header {
    padding: 20px 0;
    background-color: white;
    font-size: 18px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #6b7280;
}

header nav ul:hover {
    color: #5A67D8;
}
header nav a {
    text-decoration: none;
    font-weight: bold;
}


/*Grid-ify the site*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}


/* Section 1 */

.overview-hero {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #E2E8F0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.overview-hero .container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.overview-hero-image img {
    float: left;
    width: 160px;
    height: 100px;
    padding: 10px;
}

.overview-hero-text {
    float: right;
}

/* Section 2 */

.learn-about {
    grid-column: 1 / 4;   
    grid-row: 2;          
}

.learn-about .container {
    justify-self: center;
    width: 100%;
    display: grid;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}

.learn-about h3 {
    font-size: 21px;
    color: #48BB78;
}

.learn-about .cards {
    display: grid;                            
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 20px;  
    padding-bottom: 20px;
}

.learn-about .card {
    border-radius: 5px;
    border: 2px solid #E2E8F0;
    height: 390px;
    width: 200px;
    padding: 20px;                   
    box-shadow: 0 2px 5px rgba(0,0,0,0);
    background-color: #fff;        
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

/* Section 3 */

.testing {
    grid-column: 1/4;
    grid-row: 3;
    background-color: #4A5568;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testing-description {
    float: left;
}

.cta .btn {
    float: right;
    background-color: #48BB78;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 8px 50px 8px 55px;
}

/* Section 4 */

.stories {
    grid-column: 1/4;
    grid-row: 4;
}

.stories .container {
    display: flex;
    flex-direction: column;
}

.stories article {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: start;
    gap: 100px;
}

.stories article img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    grid-column: 1;
}

.stories .article-body {
    grid-column: 2;
    float: right;
}
.stories h2 {
    color: #5A67D8;
}

.stories h3 {
    font-size: 18px;
}

.stories a {
    color: #5A67D8;
    text-decoration: none;
}

/* Section 5 */
.newsletter {
    grid-column: 1/4;
    grid-row: 5;
    text-align: center;
    background-color: #48BB78;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.newsletter form {
    display: inline-flex;
}

input {
    padding-left: 20px;
    padding-right: 20px;
}
.newsletter button {
    background-color: #5A67D8;
    gap: 10px;
    border-color: #5A67D8;
    color: white;
}

/* footer */
footer {
    color: white;
    background-color: #4A5568;
}